* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex:1;

}

.header {
    margin: 20px 10px;

    &__title {
        display: inline;
        color: white;
        background-color: red;
        padding: 5px 15px;
    }
}

.footer {

    &__text {
        background-color: black;
        color: white;
        padding: 30px 0px;
        text-align: center;
    }

}